<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Document Type</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select Document Type</h1>
        <button onclick="window.location.href='/offer_letter'">Generate Offer Letter</button>
        <button onclick="window.location.href='/relieving_letter'">Generate Relieving Letter</button>
    </div>
</body>
</html>
